
main{
    text-align: center; 
}
li{
    padding-bottom: 10px;
}

audio {
    margin: 40px auto;
    display: block;
}
fieldset{
    border: none;
}
#search{
    border: 2px white solid;
    border-radius: 4px;
    width: 500px;
    height: 45px;
    font-family: unset;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 20px;
}
input#search:hover {
    border: 3px solid #bb0000;
}
input#search:focus {
    border: 3px solid #bb0000;
}
*{
    box-sizing: border-box;
}
fieldset{
    padding: 0;
    border: none;
    text-align: center;
}
header{
    text-align: center;
    padding: 0px 0px 0px 20px;
    position: relative;
    max-width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.43); */
    /* background-color: rgba(41, 38, 38, 0.87); */
}
#icon{ 
    position: relative;
    top: 12px;
    left:4px;
    transform: rotate(30deg);
    width: 30px;
    height:50px;
}
#Album_Art {
    width: 18%;
}
h1{
    display: inline;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color: #bb0000;
    margin: 0;
    text-shadow: 2px 2px black;
}

#h2_1{
    font-size: 1.4em;
    color: #bb0000;
    font-family: Bangers;
    padding-right: 10px;
    font-weight: 500;
    text-shadow: 1px 1px white;
}
#h2_2{
    font-size: 1.4em;
    color:#BBB913  ;
    padding-right: 10px;
    font-family: Bangers;
    font-weight: 500;
    text-shadow: 1px 1px white ;
}
#h2_3{
    font-size: 1.4em;
    color: white ;
    font-family: Bangers;
    font-weight: 500;
    text-shadow: 1px 1px #bb0000 ;

}
ol {
    text-align: -webkit-left;
    margin-left: 0px;
}
section h2{
    font-family: Kaushan Script;
}
button#newSearch, .close {
    display: inline;
    font-family: 'Kaushan Script', sans-serif;
    margin: 30px 0px 0px 0px;
    border-radius: 10px;
    height: 40px;
    background-color: #bb0000;
    color: white;
    /* font-family: Segoe UI; */
    font-size: 20px;
}
.background{
    background-color:white;
}
#search{
    width: 500px;
    height: 40px;
    font-family: 'Bangers', cursive;
    font-size: 24px;
}
.js-audioQuests {
    color: white;
    font-family: Sans-serif;
    font-size: 1.3em;
    text-shadow: 2px 2px black ;
}
button#knownButton, button#unknownButton, button#tryAgainButton{
    background-color: black;
    font-size: 15px;
    color: #BBB913;
    border: 2px solid #bb0000;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}

/*button#unknownButton {
    background-color: black;
    font-size: 15px;
    color: #BBB913;
    border: 2px solid #bb0000;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}
button#tryAgainButton {
    background-color: black;
    font-size: 15px;
    color: #BBB913;
    border: 2px solid #bb0000;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}*/
button#knownButton:hover{
    background-color: black;
    font-size: 15px;
    color: #bb0000;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}
button#unknownButton:hover {
    background-color: black;
    font-size: 15px;
    color: #bb0000;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}
button#tryAgainButton:hover {
    background-color: black;
    font-size: 15px;
    color: #bb0000;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    font-family: Bangers;
}
.js-resultPage {
    color: white;
}
body{
    color:  black;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section {
    font-family: Georgia;
    width: max-content;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    margin: 0px 0px 0px 20%;
    border-radius: 15px;
    text-align: center;
}
html{
    background-image: url(Black-Elegant-Backgrounds-HD.jpg);
    background-position: center;
}
.modal{
    display: none;
    position: absolute;
    /* bottom: 100px; */
    color:#BBB913;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
}
.instructions, .instructions:hover {
    border: 4px solid  #bb0000;
    height: 82px;
    width: 180px;
    font-size: 18px;
    border-radius: 10px;
    font-family: Bangers;
}

.instructions{
    margin: 15px 0px 0px 0px;
    background-color: black;
    color:#bb0000;
}
.instructions:hover{
    border-color: white;
    background-color: #bb0000;
    color:white;
    margin: 15px 0px 0px 0px;
}
.close{
    background-color: black;
    color: white;
    font-family: Bangers;
}
@media only screen and (min-width: 320px){
    #search{
        width: 300px;
    }
    .instructions, .instructions:hover{
        margin: 10px 0px 0px 0px;
    }
    .modal{
        max-width: 70%;
        margin-top: 20px;
    }
    
}


@media only screen and (min-width: 960px){
    #search{
        width: 500px;
    }
    .instructions, .instructions:hover{
        margin: 10px 0px 0px 0px;
    }
    .modal{
        max-width: 70%;
        margin-top: 20px;
    }
}